{% extends 'rcmfacts/base.html' %}
{% block title %} Preference {% endblock %}
{% block otherthings %}
    <link href="http://orzzzl.github.io/Community-Recommendation/Website/community/rcmOnUser/static/preference.css"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/4.10.3/bootstrap-slider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/4.10.3/css/bootstrap-slider.css"
          rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="pre">
        <h4>Please express your preferences by dragging the sliders below, select a number to represent how important
            the following options are to you:</h4>
        {% if error_message %}<p style="color:red;"><strong>{{ error_message }}</strong></p>{% endif %}
        </br></br>
        <form action="/rcmuser/res/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="fun" class="col-sm-4 col-md-4 control-label text-right">Eating</label>

                <div class="col-sm-7 col-md-7">
                    <input name="eating" id="eating" data-slider-id='mySlider' type="text" data-slider-min="0"
                           data-slider-max="100" data-slider-step="1" value="0"
                           data-slider-value="0">
                </div>
            </div>

            </br></br></br>
            <div class="form-group">
                <label for="fun" class="col-sm-4 col-md-4 control-label text-right">Shopping</label>

                <div class="col-sm-7 col-md-7">
                    <input name="shopping" id="shopping" data-slider-id='mySlider' type="text" data-slider-min="0"
                           data-slider-max="100" data-slider-step="1" value="0"
                           data-slider-value="0">
                </div>
            </div>
            </br></br></br>
            <div class="form-group">
                <label for="fun" class="col-sm-4 col-md-4 control-label text-right">School:</label>

                <div class="col-sm-7 col-md-7">
                    <input name="school" id="school" data-slider-id='mySlider' type="text" data-slider-min="0"
                           data-slider-max="100" data-slider-step="1" value="0"
                           data-slider-value="0">
                </div>
            </div>
            </br></br></br>
            <div class="form-group">
                <label for="fun" class="col-sm-4 col-md-4 control-label text-right">Health</label>

                <div class="col-sm-7 col-md-7">
                    <input name="health" id="health" data-slider-id='mySlider' type="text" data-slider-min="0"
                           data-slider-max="100" data-slider-step="1" value="0"
                           data-slider-value="0">
                </div>
            </div>
            </br></br></br>
            <div class="form-group">
                <label for="fun" class="col-sm-4 col-md-4 control-label text-right">Security</label>

                <div class="col-sm-7 col-md-7">
                    <input name="security" id="security" data-slider-id='mySlider' type="text" data-slider-min="0"
                           data-slider-max="100" data-slider-step="1" value="0"
                           data-slider-value="0">
                </div>
            </div>
            </br></br></br>
            <div class="form-group">
                <label for="fun" class="col-sm-4 col-md-4 control-label text-right">Time to reach workplace</label>

                <div class="col-sm-7 col-md-7">
                    <input name="transportation" id="transportation" data-slider-id='mySlider' type="text"
                           data-slider-min="0"
                           data-slider-max="100" data-slider-step="1" value="0"
                           data-slider-value="0">
                </div>
            </div>
            </br></br></br>

            <div class="form-group">
                <label for="fun" class="col-sm-4 col-md-4 control-label text-left">You can set up a filter for the
                    median monthly owner costs(not including mortgage bills)</label>
                <br>

                <b>$ 152&nbsp;&nbsp;</b> <input name="cost" id="cost" type="text" class="span2" value=""
                                                data-slider-min="152" data-slider-max="1121" data-slider-step="1"
                                                data-slider-value="[152,1121]"/> <b>&nbsp;&nbsp;$ 1121</b>
            </div>

            </br></br></br>
            {% if sessionVal %}
                <button type="submit" name="submitType" class="btn btn-lg btn-warning" value="1">Submit With Result of First Round</button>
                <button type="submit" name="submitType" class="btn btn-lg btn-warning" value="2">Submit Without Result of First Round</button>
            {% else %}
                <button type="submit" name="submitType" class="btn btn-lg btn-warning" style="left: 25%;" value="2"> Submit Without Result of First Round
                </button>
            {% endif %}
        </form>
    </div>
    <br><br><br>
    <script src="http://orzzzl.github.io/Community-Recommendation/Website/community/rcmOnUser/static/preference.js"></script>
    {#    <script crossorigin="anonymous"#}
    {#            src="http://orzzzl.github.io/Community-Recommendation/Website/community/rcmOnUser/static/preference.js"></script>#}
{% endblock %}
