{% extends "rcmfacts/base.html" %}
{% block title %} Result {% endblock %}
{% block otherthings %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.1.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://orzzzl.github.io/Defiled_Katty/Website/community/rcmOnUser/static/res.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="res" ng-app="res_app" ng-controller="AccordionDemoCtrl">
        <label class="checkbox">
            <input type="checkbox" ng-model="oneAtATime">
            Open only one at a time
        </label>
        <accordion close-others="oneAtATime">
            {% for r in result %}
                <accordion-group is-open="status.open{{ forloop.counter }}">
                    <accordion-heading>
                        #{{ forloop.counter }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Zip
                        Code: {{ r.zipThing.zipCode }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if r.simlarityFirstRound %} First Recommendation:{{ r.simlarityFirstRound }} + Second
                            Recommendation: {{ r.simlarity }}
                        {% else %}
                            Similarity: {{ r.simlarity }}
                        {% endif %}
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': status.open{{ forloop.counter }}, 'glyphicon-chevron-right': !status.open{{ forloop.counter }}}"></i>
                    </accordion-heading>
                    <table>
                        <tr>
                            <td>
                                Eating Score: {{ r.zipThing.eating }} <br>
                                Shopping Score: {{ r.zipThing.shopping }} <br>
                                School Score: {{ r.zipThing.school }} <br>
                                Health Score: {{ r.zipThing.health }} <br>
                                Security Score: {{ r.zipThing.security }} <br>
                                Transportation Score: {{ r.zipThing.transportation }} <br>
                                Median Cost for Ownership without Mortgage: {{ r.zipThing.money }} <br>
                            </td>
                            <td>
                                <iframe
                                        width="300"
                                        height="200"
                                        frameborder="0" style="border:0"
                                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA548H9aG7BTYLaYoHiAX5OufpbscTwN1U
    &q={{ r.zipThing.zipCode }}" allowfullscreen>
                                </iframe>
                            </td>
                        </tr>
                    </table>
                </accordion-group>
            {% endfor %}
        </accordion>

        {% if  choices.submitType == '1' %}
            <iframe src="/rcmfacts/satisfaction3.html" frameBorder="0" width="100%">
            </iframe>
        {% else %}
            <iframe src="/rcmfacts/satisfaction2.html" frameBorder="0" width="100%">
            </iframe>
        {% endif %}
        <br>
        <a href="/rcmfacts/questions">Go to the 1st Recommendation.</a>

        <script src="http://orzzzl.github.io/Defiled_Katty/Website/community/rcmOnFacts/static/res.js"></script>
    </div>
{% endblock %}