Documents/Dataflow.graffle
Documents/Thumbs.db
CityDataCrawler/.idea/.name
CityDataCrawler/.idea/CityDataCrawler.iml
CityDataCrawler/.idea/misc.xml
CityDataCrawler/.idea/modules.xml
CityDataCrawler/.idea/vcs.xml
CityDataCrawler/.idea/workspace.xml
Website/.gitignore