{% extends  "rcmfacts/base.html" %}

{% block title %}
    Welcome
{% endblock %}
{% block otherthings %}
    <link href="/static/index.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="inner cover">
        <h1 class="cover-heading">Which Community should you live ?</h1>

        <p class="lead">Our analysis based on both the facts and the specifications of the use, to help the user to find
            the zip-code that suit him most.</p>

        <p class="lead">
            <a href="/rcmfacts/questions/" class="btn btn-lg btn-warning">Let's start</a>
        </p>
    </div>
{% endblock %}
