{% extends  "rcmfacts/base.html" %}

{% block title %}
    Welcome
{% endblock %}
{% block otherthings %}
    <link href="http://orzzzl.github.io/Community-Recommendation/Website/community/rcmOnFacts/static/index.css"
          rel="stylesheet">
{% endblock %}
{% block content %}
    <br><br><br><br>
    <h1> Zeleng Zhuang </h1>
    <h4>Computer science student of Courant Institute of Mathematical Sciences, New York University. </h4>
    <h4>+1 347 220 2813</h4>
    <a href="mailto:zz1135@nyu.edu" target="_top" style="font-size:20px;">zz1135@nyu.edu</a>
    <br><br><br><br>
    <h1> Chen Chen </h1>
    <h4>Computer science student of Courant Institute of Mathematical Sciences, New York University. </h4>
    <a href="mailto:cc4772@nyu.edu" target="_top" style="font-size:20px;">cc4772@nyu.edu</a>
    <br><br><br><br>
    <h1> Nicholas Souris </h1>
    <h4>Computer science student of Courant Institute of Mathematical Sciences, New York University. </h4>
    <a href="mailto:ns3205@nyu.edu" target="_top" style="font-size:20px;">ns3205@nyu.edu</a>
    <br><br><br><br>
    <h1> Yanhong Yang </h1>
    <h4>Computer science student of Courant Institute of Mathematical Sciences, New York University. </h4>
    <a href="mailto:yy1553@nyu.edu" target="_top" style="font-size:20px;">yy1553@nyu.edu</a>
{% endblock %}

