{% extends  "rcmfacts/base.html" %}

{% block title %}
    Welcome
{% endblock %}
{% block otherthings %}
{#<link href="/static/index.css" rel="stylesheet">#}
    <link href="http://orzzzl.github.io/Community-Recommendation/Website/community/rcmOnFacts/static/index.css"
          rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="jumbotron inner">
        <h1 class="heading">Which Community should you choose to live in?</h1>

        <p class="lead">An analysis based on facts and preferences of the user with the goal of finding the most compatible community.</p>

        <p class="lead">
            <a href="/rcmfacts/questions/" class="btn btn-lg btn-warning" style="alignment: center">Let's start</a>
        </p>
    </div>
{% endblock %}

