<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Thank you.
<br>
<strong>1st Recommendation:</strong> {{ pollRes.firstSat }} Satisfied, {{ pollRes.firstNoSat }} Not Satisfied, satisfied
rate: {{ pollRes.firstRate }} <br>
<strong>2nd Recommendation:</strong> {{ pollRes.secondSat }} Satisfied, {{ pollRes.secondNoSat }} Not Satisfied, satisfied
rate: {{ pollRes.secondRate }} <br>
<strong>Mixed Recommendation:</strong> {{ pollRes.thirdSat }} Satisfied, {{ pollRes.thirdNoSat }} Not Satisfied, satisfied
rate: {{ pollRes.thirdRate }}
</body>
</html>