body {
    font-family: Helvetica, Arial, sans-serif;
    /*font-size: 1vw;*/

    width: 80%;
    margin: 0 auto;
    padding: 1%;
    color: black;
}

h2 {
    font-weight: bold;
    margin-bottom: 0.20vw;
}

.error {
    color: red;
}

label {
  display: block;
}

label + label {
    margin-top: 2.0vw;
}

input[type=text] {
    width: 40vw;
    font-size: 1.0vw;
    padding: 0.2%;
    font-family: monospace;
}

textarea {
    width: 60vw;
  height: 50vh;
  font-size: 1vw;
  font-family: monospace;
}


.main-title {
    display: block;
    color: #222;
    /*font-size: 4.0vw;*/
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.0vw;
    text-decoration: none;
}


.new-post {
    display: block;
    color: darkred;
    font-size: 2.0vw;
    text-align: center;
    margin-bottom: 1%;
    text-decoration: none;
}
.post + .post {
    margin-top: 1.5vw;
}

.post-heading {
    position: relative;
    border-bottom: 0.3vw solid #666;
}

/*.post-title {*/
    /*font-size: 2.4vw;*/
    /*font-weight: bold;*/
/*}*/

.post-date {
    position: relative;
    align: right;
    right: 0vw;
    bottom: 0vw;
    color: #999;
    text-align: right;

}

.post-content {
    margin-top: 0.5vw;
}


#postContent h3 { margin:-30px 1px 20px -6px; font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; font-weight:normal; color:#FF7070; letter-spacing:0.2em; }