.btn-success {
    background-image: None;
    border-color: black;
    background-color: white;
    color: black;
}

h1 {
    margin-top: 18vh;
}

.btn-group {
    background-image: none;
}

strong {
    color: red;
}

.input-group {
    alignment: left;
}

.submitButton {
    position: relative;
    left: 48%;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {
    color: white;
    background-color: black;
    border-color: black;
}